/* common components */

.not-found,
.loading-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 40px;
}

.app .small-screen {
    display: none;
}

@media screen and (max-width: 750px) {
    .app .big-screen {
        display: none;
    }
    
    .main {
        margin-left: 0 !important;
    }

    .app .small-screen {
        display: block;
        position: fixed;
        padding: 10px 0 0 10px;
    }

    .nav .sider {
        max-width: 256px !important;
        min-width: 256px !important;
    }
}

/* override Ant Design with the following syntax: .yourClass.antdClass */

.error.ant-alert {
    margin-bottom: 20px;
}

.form-button.ant-btn {
    width: 100%;
}

/* disable scroll bounce */

html, body {
    height: 100%;
    overflow: hidden;
}

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/* nav and main content layout */

.main {
    margin-left: 200px ;
    background: #fafafa ;
    height: 100vh ;
}