/* common components */

body, .main {
    background: seashell;
}

.not-found-state,
.error-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 40px;
}

.logo {
    height: 50px;
}

/* override Ant Design with the following syntax: .yourClass.antdClass */

.error.ant-alert {
    margin-bottom: 20px;
}

.form-button.ant-btn {
    width: 100%;
}

.ant-popover-inner-content {
    padding: 0px !important;
}

.ant-dropdown-link {
    cursor: pointer;
}